CADDY_IMAGE=${caddy_image}
GRAFANA_IMAGE=${grafana_image}
PROMETHEUS_IMAGE=${prometheus_image}
LOKI_IMAGE=${loki_image}
TEMPO_IMAGE=${tempo_image}
OTEL_COLLECTOR_IMAGE=${otel_collector_image}
GRAFANA_ADMIN_USER=${grafana_admin_user}
GRAFANA_ADMIN_PASSWORD=${grafana_admin_pass}
GRAFANA_DOMAIN=${grafana_domain}
PROMETHEUS_RETENTION=${prometheus_retention}
GRAFANA_SMTP_ENABLED=${grafana_smtp_enabled}
GRAFANA_SMTP_FROM_ADDRESS=${grafana_smtp_from_address}
OBSERVABILITY_ALERT_EMAILS=${observability_alert_emails}
SES_AWS_ACCESS_KEY_ID=${ses_aws_access_key_id}
SES_AWS_SECRET_ACCESS_KEY=${ses_aws_secret_access_key}
SES_AWS_REGION=${ses_aws_region}
SES_CONFIGURATION_SET_NAME=${ses_configuration_set_name}
SES_SOURCE_ARN=${ses_source_arn}
